<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Personal Hall</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/general.css"/>
        <script src="../scripts/hall.js"></script>
    </head>
    <body>
        <div role="tablist">
            <button id="hall-settings-btn" type="button" role="tab" aria-controls="hall-settings-panel">Account Settings</button>
            <button id="hall-campaigns-btn" type="button" role="tab" aria-controls="hall-campaigns-panel">Campaigns</button>
            <button id="hall-logout-btn" type="button" role="tab" aria-controls="hall-logout-panel">Logout</button>
        </div>
        <div>
            <div role="tabpanel" id="hall-settings-panel" class="nodisplay">
                <p>Account Settings</p>
            </div>
            <div role="tabpanel" id="hall-campaigns-panel">
                <p>Campaigns</p>
                <button type="button">new campaign</button>
            </div>
            <div role="tabpanel" id="hall-logout-panel" class="nodisplay">
                <!--<p>Logout</p>-->
                <a href="../index.html">logout</a>
            </div>
        </div>
    </body>
</html>
