<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title th:text="${pageTitle}">Create Session</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--        <link rel="stylesheet" href="../static/css/general.css" th:href="@{/css/general.css}"/>
        <script src="../static/scripts/hall.js" th:src="@{/scripts/hall.js}"></script>-->
    </head>
    <body>
        <h1 th:text="${createSession}">create session</h1>
        <p th:text="${forCampaign}">for campaign</p>
        <p th:text="${campaignName}">unknown campaign</p>
        <form id="createForm">
            <label for="roomName" th:text="${roomNameLabel}">name the room:</label>
            <input type="text" id="roomName" name="roomName" required minlength="12" maxlength="120" />
            <label for="password" th:text="${roomPasswordLabel}">password:</label>
            <input type="text" id="password" name="password" />
        </form>
        <a href="./hall.html" th:href="'/hall'" th:text="${cancel}">cancel</a>
        <button type="submit" form="createForm" th:text="${newSessionLabel}">create session</button>

    </body>
</html>
