<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title th:text="${documentTitle}">Game</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/css/general.css" th:href="@{/css/general.css}"/>
        <script src="../static/scripts/stompjs/stomp.umd.js" th:src="@{/scripts/stompjs/stomp.umd.js}"></script>
        <script src="../static/scripts/stompjs/stomp.umd.min.js" th:src="@{/scripts/stompjs/stomp.umd.min.js}"></script>
        <script src="../static/scripts/util/requester.js" th:src="@{/scripts/util/requester.js}"></script>
        <script src="../static/scripts/util/websocket.js" th:src="@{/scripts/util/websocket.js}"></script>
        <script src="../static/scripts/utils.js" th:src="@{/scripts/utils.js}"></script>
        <script src="../static/scripts/game.js" th:src="@{/scripts/game.js}"></script>
        <script src="../static/scripts/handouts/builders.js" th:src="@{/scripts/handouts/builders.js}"></script>
        <script src="../static/scripts/handouts/container.js" th:src="@{/scripts/handouts/container.js}"></script>
        <script src="../static/scripts/handouts/text.js" th:src="@{/scripts/handouts/text.js}"></script>
    </head>
    <body>
        <input id="roomname" type="hidden" value="theroomname" th:value="${roomName}" />
        <div>
            <button type="button" id="main-menu-btn" aria-controls="main-menu-panel">A menu</button>
            <div class="nodisplay" id="main-menu-panel">
                <button type="button" id="let-them-in-btn" aria-controls="let-them-in-panel"
                        aria-owns="let-them-in-panel">Guests waiting in front of the door</button>
                <button type="button">Leave</button>
            </div>
            <div class="nodisplay" id="let-them-in-panel" >
                <div>Sam</div>
                <div>Alex</div>
            </div>
            <h1 th:text="${pageTitle}">The great adventure</h1>
        </div>
        <div>Space for the table</div>
        <div>Initiative bar, maybe?</div>

        <!-- ____________________  handouts  ____________________ -->
        <div>
            <h2 th:text="${handouts}">Handouts</h2>
            <div id="handout-anchor" />
        </div>

        <!-- comment -->
        <div>Set up your rolls here?</div>
        <div>Probably space for your materials you haven't put on the table</div>
        <div>A chat! A chat!</div>
    </body>
</html>
